#! /bin/sh

PID_PATH="/var/run/sshd.pid"
LOG_PATH="/var/log/sshd.log"

ret=0

start() {
    start-stop-daemon \
        --pidfile $PID_PATH \
        --make-pidfile \
        --background \
        --stdout $LOG_PATH \
        --stderr $LOG_PATH \
        --exec /usr/sbin/sshd \
        --start
    ret=$?
}

stop() {
    start-stop-daemon \
        --pidfile $PID_PATH \
        --stop
    ret=$?
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    *)
        echo "Usage: sshd {start|stop}"
        exit 1
esac

exit $ret
